*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  overflow-y: visible;
  overflow-x: hidden;
  font-size: 1.15rem;
  font-family: "Montserrat", sans-serif;
  background-color: #ebd1ee;
}

.container {
  margin: 1rem 2rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-overlay {
  margin: 0rem;
  background-color: black;
  height: 100vh;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
}
